{:kotoba.app/id "cloud.itonami.unspsc-73", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigzhtc2fj4wm6ljufidt5mn7a7p3kk7x7nmh6e2xheakqp5cj72ou", :kotoba.app/embed-url "ipfs://bafkreigzhtc2fj4wm6ljufidt5mn7a7p3kk7x7nmh6e2xheakqp5cj72ou", :published {:archive "https://kotobase.net/ipfs/bafkreigzhtc2fj4wm6ljufidt5mn7a7p3kk7x7nmh6e2xheakqp5cj72ou", :size 72519, :put-status 201, :get-status 200, :at "2026-08-15T13:56:59.689Z"}}
